<!DOCTYPE html>
<html>
<title>AgHub</title>
<head>
</head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <style type="text/css">
    body{
      background: url('https://s-media-cache-ak0.pinimg.com/originals/27/5f/2d/275f2d2685e579395b359127bbd59079.jpg');
      background-size: 1600px 900px;
      background-repeat: no-repeat;
      background-position: right top;
      background-attachment: fixed;
    }
    header, footer {
    padding: 1em;
    background-color: green;
    clear: left;
    text-align: center;
}
  </style>
  
<body>
  
  
  <div class="w3-row">
    <div class="w3-quarter w3-container "></div>
      
  <div class="w3-half w3-container">
    <form name = "loginform" class="w3-container" action="/officeInfo" method = "post">
        <div class="w3-section">
        <label style = "color: white" class ="we-color-white" ><b>Quality Assurance</b></label>
        <input class="w3-input w3-border w3-margin-bottom" type="text" placeholder="Enter QA" name="qa" required>
        <br></br>
        
        <label style = "color: white" class ="we-color-white" ><b>Crew Leader Comment</b></label>
        <br></br>
        <input class="w3-input w3-border w3-margin-bottom" type="text" placeholder="Enter comment" name="crew_comment" required>
        <label style = "color: white" class ="we-color-white" ><b>Crew 1: </b></label>
        <input class="w3-input w3-border w3-margin-bottom" type="text" placeholder="Enter the plot number" name="crew1" required>
        <label style = "color: white" class ="we-color-white" ><b>Crew 2: </b></label>
        <input class="w3-input w3-border w3-margin-bottom" type="text" placeholder="Enter the plot number" name="crew2" required>
        <label style = "color: white" class ="we-color-white" ><b>Crew 3: </b></label>
        <input class="w3-input w3-border w3-margin-bottom" type="text" placeholder="Enter the plot number" name="crew3" required>
        <button class="w3-btn-block w3-green w3-section w3-padding" type="submit" name = "submit" value = "plot">Upload</button>
        </form>
        <br></br><br></br><br></br>
  </div>
  <div class="w3-quarter w3-container"></div>
</div>

<footer>AgHub<br></br></footer>
</body>
</html>