<!DOCTYPE html>
<html>
<title>AgHub</title>
<!-- Latest compiled and minified CSS -->
<head>
    
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>worker info</title>

    <!-- Bootstrap Core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="css/clean-blog.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>


</head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<style type="text/css">
  a:link {
    color: white;
    background-color: transparent;
    font-size: 16px;
    position: relative;
    text-decoration: underline;
    top:5.5px;
    left: 15px;
  }
  a:visited {
    color: white;
    background-color: transparent;
    text-decoration: underline;
  }
  a:hover {
    color: purple;
    background-color: transparent;
    text-decoration: underline;
  }
</style>
<body background="static/fields.jpg">

<div class="w3-container">

  <div class="w3-bar w3-green">
    <button class="w3-bar-item w3-button tablink w3-white" onclick="actionTab(event,'info')">Worker Info</button>
    <button class="w3-bar-item w3-button tablink" onclick="actionTab(event,'location')">Today's Work Location</button>
    <button class="w3-bar-item w3-button tablink" onclick="actionTab(event,'other')">Today's Info</button>
    <button class="w3-bar-item w3-button tablink" onclick="actionTab(event,'comments')">Comments</button>
    <button class="w3-bar-item w3-button tablink" onclick="actionTab(event,'inbox')">Inbox</button>
    
    <a href="/" target="_self">To Home Page</a>
  </div>
  
<div id="info" class="w3-container city w3-container w3-center" style="padding:140px 50px">
<div class="w3-container w3-center" style="padding:100px 90px">
<style>
h1 {
font-family: "Helvetica";
text-align: center;
font-size: 60px;
color: white;
}
header, footer {
    padding: 1em;
    color: white;
    background-color: green;
    clear: left;
    text-align: center;
}
h2 {
font-family: "Helvetica";
font-size: 40px;
text-align: center;
color: white;
}
</style>
  <h1>Thanks for signing in: {{worker_name}}</h1>
  <h2>ID #: {{worker_id}}</h2>
  <h2>Crew Number: {{worker_crew}}</h2>

</div>

</div>


<div id="location" class="w3-container city" style="display:none">

<div class=" w3-container w3-center" style="padding: 70px 90px">
		<style>
        	h3,h4{
            text-align: left;
            }
        </style>
      <h3>Today's Work Location:</h3>
      <h4>Report to this Location -></h4>
      <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d1104.7898523667075!2d-121.69728596710374!3d36.65196517311494!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sus!4v1493525246116" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>

</div>

 <div id="other" class="w3-container city w3-container w3-center" style="display:none">
    <div class=" w3-container w3-center" style="padding:170px 50px">
      <div class="w3-row">
  <div class="w3-half w3-container">
    <style type="text/css">
      h6{
        font-size: 45px;
        text-decoration: underline;
        text-align: left;
      }
    </style>
    <a href="/" target="self">To Home Page</a>
    <h6 style = "color : white">Quality Assurance Issue:</h6>
    <h3 style = "color : white" class="w3-padding-32"> {{qa_entered}} </h3>
    
      <h6 style = "color : white" >Crew Leader Comment:</h6>
      <h3 style = "color : white" class="w3-padding-32"> {{ comCrew }} </h3>
      
  </div>
  
  <div class="w3-half w3-container">
    	<div class="w3-container w3-center">
    	  <h3 style = "color : white">Crew 1: plot  {{c1}} </h3><br></br>
    	  
    	  <h3 style = "color : white">Crew 2: plot  {{c2}} </h3><br></br>
    	  
    	  <h3 style = "color : white">Crew 3: plot  {{c3}} </h3><br></br>


</div>
  </div>
</div>
      
</div>
</div>
<div id="comments" class="w3-container city" style="display:none">     
	<div class="w3-section" style="padding:210px 50px">
        <form name = "loginform" class="w3-container" action="/worker" method = "post"> 
        <h1 style = "color: white">Leave a Comment, Question, or Concern</h1>
        <input class="w3-input w3-border w3-margin-bottom" type="text" placeholder="Type Here" name="comment" required>
        <button class="w3-btn-block w3-green w3-section w3-padding" type="submit" name = "submit" value = "login">Upload</button>
        </form>
	</div>
</div>

<div id="inbox" class="w3-container city" style="display:none">     
	<div class="w3-section" style="padding:250px 50px">
        <h1>Message from the Office: </h1><br></br>
        <h1 style = "color: white"> {{dm}}</p>
        
	</div>
</div>



<script>
function actionTab(evt, cityName) {
  var i, x, tablinks;
  x = document.getElementsByClassName("city");
  for (i = 0; i < x.length; i++) {
      x[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablink");
  for (i = 0; i < x.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" w3-white", "");
  }
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.className += " w3-white";
}
</script>
<footer>AgHub</footer>
</body>
</html>